:root, html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* overflow: hidden; */
}


header{
  /* position: absolute; */
  width: 100%;
  border-bottom: 1px solid white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 25px;
}

#life-points{
  /* position: absolute; */
  color: white;
  display: flex;
  margin: 0 10px;
  gap: 0.8rem;
  flex: 1;
}

.hp{
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(45deg);
  position: relative;

  &::after,
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
  }

  &::before{
    transform: translateX(-50%);
  }

  &::after{
    transform: translateY(-50%);
  }
}

#fps-counter{
  z-index: 1000;
  color: white;
  background-color: black;
  border: 1px solid lime;
  padding: 2px 3px;
}

#score{
  z-index: 1000;
  color: white;
  background-color: black;
  /* border: 1px solid lime; */
  padding: 2px 3px;
}

#score > .value{
  min-width: 2ch;
}

section {
  display: flex;
  justify-content: center;
}

#menu{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: clamp(200px, 80%, 400px);
  /* height: clamp(150px, 60%, 300px); */
  border: 1px solid white;
  background-color: black;;
  color: white;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-size: 1.5rem;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#start{
  padding: 1rem;
  width: 90%;
}

.btn{
  padding: 0.5rem 1rem;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  margin: 0.3rem;
}

.setting{
  display: flex;
  gap: 0.5rem;
}
.setting > input[type='checkbox']{
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(57, 56, 56);
}

.hidden{
  display: none !important;
}

.small{
  font-size: 0.8rem;
}

#temp{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
}


/* TO BE REMOVED */
.speedOmeter{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.speedOmeter::before{
  content: 'Speed(x, y): ';
}